@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

#isinya{
	background-color: white;
    text-align: center;
    float: left;
    margin-left: 100px;
    padding: 100px;
	font-family: Helvetica, sans-serif;
}

input{
    border: 2px solid black;
	font-family: Helvetica, sans-serif;
	color:black;
}


#content{
    font-family: 'Roboto Slab', serif;
    font-size: 2.0em
}

h1{
    font-family: 'Roboto Slab', serif;
}

#image{
    float: right;
    padding-right: 150px;
    padding-top: 230px;
}

#continue{
    margin-left: 195px;
}